@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: Gilroy ;
}


/* 
.globalContainer{
  max-width: 1520px;
  margin: 0 auto;
} */

/* p{
  font-family: monospace !important ;
} */

.single-product-model {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
  white-space: pre-line;
}
.single-product-model > * {
  white-space: pre-line;
  font-size: 19px !important;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .single-product-model > * {
    font-size: 16px !important;
  }
}

@media (max-width: 500px) {
  .single-product-model > * {
    font-size: 13px !important;
  }
}

.iiz__img {
  width: 100%;
  height: 450px !important;
  object-fit: contain;
}

.product-description {
  font-size: 20px;
  margin: 20px 50px;
}

@media (max-width: 750px) {
  .iiz__img {
    height: 350px !important;
  }
  .product-description {
    font-size: 17px;
    margin: 20px 20px;
  }
}


@media (max-width: 450px) {
 
  .product-description {
    
    margin: 20px 0px;
  }
}


.product-card {
  transition: all 500ms;
  border-radius: 6px;
  display: block;
}

.product-card:hover {
  box-shadow: 0px 5px 10px 0px gray !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px; 
  background-color: #dedede;
}
.magnifier-image-wrapper .magnifier {
  overflow: auto !important;
  width: fit-content !important;
  height: 100% !important;
  margin: 0 auto !important;
  display: block;
}
.magnifier-image-wrapper .magnifier-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-link {
  text-decoration: none;
  color: gray;
  display: block;
  padding: 7px;
}
.social-link:hover {
  color: black;
}